html,
body,
div,
h1,
p,
a,
video {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

#login-div {
	position: absolute;
	z-index: 1;
    width: 246px;
    height: 180px;
    border: 0px solid black;
    display: block;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
    background: white;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -123px;
    font-size: 20px;
    font-family: 'calibri';
}

#quest-task {
	position: relative;
	z-index: 1;
    width: 600px;
    height: 260px;
    border: 0px solid black;
    display: block;
    top: 50px;
    left: 50px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
    background: white;
}

#submit-div {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}

#hint-div {
    position: absolute;
    bottom: 2%;
    left: 2%;
    color: white;
}

#question-start {
    margin-bottom: 10px;
    font-family: 'calibri';
    font-size: 30px;
}

#question-end {
    margin-bottom: 20px;
    font-family: 'calibri';
    font-size: 24px;
    text-align: justify;
}

#submit-button {
    float: right;
    width: 110px;
    height: 36px;
    border-radius: 0px 0px 0px 0px;
    font-size: 18px;
    margin-left: 12px;
}

#answer-input {
    width: 477px;
    height: 36px;
    float: right;
    padding-left: 7px;
    font-size: 15px;
}

.background-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#img0 {
	background: url('../media/bg0.png') center;
	background-size: cover;
}

#img1 {
	background: url('../media/bg1.png') center;
	background-size: cover;
}

#img2 {
	background: url('../media/bg2.png') center;
	background-size: cover;
}

#img3 {
	background: url('../media/bg3.png') center;
	background-size: cover;
}

#img4 {
	background: url('../media/bg4.png') center;
	background-size: cover;
}

#bgvid {
	position: fixed;
	top: 50%; left: 50%;
	display: none;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#present-div {
	display: none;
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	background: #eee;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.8);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    border: 0px solid #000000;
    font-size: 60px;
    padding: 30px;
    font-family: 'calibri';
    text-align: center;
    width: 580px;
    height: 175px;
    padding: 35px 0px 0px 0px;
    margin: -90px 0 0 -290px;
}

